<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>サンプル</title>
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="formWrap">
	<p>各インプットタイプのサンプル</p>
	<div class="input-sample">
		<label>選択ボックス<label/>
		<select name="ご用件" v-model="formItems.selectBox.value">
			<option disabled value="">選択してください</option>
			<option>ご質問・お問い合わせ</option>
			<option>リンクについて</option>
			<option>追加項目サンプル１</option>
			<option>追加項目サンプル２</option>
			<option>追加項目サンプル３</option>
		</select>
		<p class="err-message" v-if="!formItems.selectBox.isValid">
			{{ errorMessages[formItems.selectBox.validateType] }}
		</p>
	</div>

	<div class="input-sample">
		<label>テキスト項目</label>
		<input size="20" type="text" name="お名前" v-model="formItems.text.value" />
		<p class="err-message" v-if="!formItems.text.isValid">
			{{ errorMessages[formItems.text.validateType] }}
		</p>
	</div>

	<div class="input-sample">
		<label>複数行テキスト項目</label>
		<textarea name="お問い合わせ内容" cols="50" rows="5" v-model="formItems.multiText.value" ></textarea>
		<p class="err-message" v-if="!formItems.multiText.isValid">
			{{ errorMessages[formItems.multiText.validateType] }}
		</p>
	</div>

	<div class="input-sample">
		<label>ラジオボタン</label>
		<input type="radio" value="友人・知人" v-model="formItems.radioButton.value" /> 友人・知人　
		<input type="radio" value="検索エンジン" v-model="formItems.radioButton.value" /> 検索エンジン
		<input type="radio" value="ラジオボタン項目" v-model="formItems.radioButton.value" /> ラジオボタン項目
		<p class="err-message" v-if="!formItems.radioButton.isValid">
			{{ errorMessages[formItems.radioButton.validateType] }}
		</p>
	</div>

	<div class="input-sample">
		<label for="checkbox">チェックボックス</label>
		<input type="checkbox" id="checkbox" v-model="formItems.checkbox.value">
		<p class="err-message" v-if="!formItems.checkbox.isValid">
			{{ errorMessages[formItems.checkbox.validateType] }}
		</p>
	</div>

</div>

<!-- Import dependency Libraries -->
<!-- Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
let formItems = {
	selectBox: {
		value: "",
		isValid: true,
		validateType: null
	},
	text: {
		value: "",
		isValid: true,
		validateType: null
	},
	multiText: {
		value: "",
		isValid: true,
		validateType: null
	},
	radioButton: {
		value: "",
		isValid: true,
		validateType: null
	},
	checkbox: {
		value: false,
		isValid: true,
		validateType: null
	}
}

let vm = new Vue({
  'el': '#formWrap',
	data: {
		formItems: formItems,
		errorMessages:{
      "required": "この項目は必須です。",
      "hankakuNum": "半角数字で入力してください。",
      "emailAddress": "不正な形式です。"
    }
	}
})
</script>

</body>
</html>
