<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>サンプル</title>
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="formWrap">
	<!-- コンタクトフォームのHTML  -->
	<div v-if=" state == 'contactForm' ">
		<h3>お問い合わせ</h3>
	  <p>下記フォームに必要事項を入力後、確認ボタンを押してください。</p>
	  <form>
	    <table class="formTable">
	      <tr>
	        <th>ご用件</th>
	        <td>
						<select name="ご用件" v-model="formItems.Genre.value">
							<option disabled value="">選択してください</option>
  						<option>ご質問・お問い合わせ</option>
  						<option>リンクについて</option>
	          </select>
						<p class="err-message" v-if="!formItems.Genre.isValid">
							{{ errorMessages[formItems.Genre.validateType] }}
						</p>
					</td>
	      </tr>
	      <tr>
	        <th>お名前</th>
	        <td>
						<input size="20" type="text" name="お名前" v-model="formItems.Name.value" /> ※必須
						<p class="err-message" v-if="!formItems.Name.isValid">
							{{ errorMessages[formItems.Name.validateType] }}
						</p>
					</td>
	      </tr>

	      <tr>
	        <th>電話番号（半角）</th>
	        <td>
						<input size="30" type="text" name="電話番号" v-model="formItems.PhoneNumber.value" />
						<p class="err-message" v-if="!formItems.PhoneNumber.isValid">
							{{ errorMessages[formItems.PhoneNumber.validateType] }}
						</p>
					</td>
	      </tr>
	      <tr>
	        <th>Mail（半角）</th>
	        <td>
						<input size="30" type="text" name="Email" v-model="formItems.Email.value" /> ※必須
						<p class="err-message" v-if="!formItems.Email.isValid">
							{{ errorMessages[formItems.Email.validateType] }}
						</p>
					</td>
	      </tr>
	      <tr>
	        <th>性別</th>
	        <td>
						<input type="radio" name="性別" value="男" v-model="formItems.Gender.value" /> 男　
	          <input type="radio" name="性別" value="女" v-model="formItems.Gender.value" /> 女
						<p class="err-message" v-if="!formItems.Gender.isValid">
							{{ errorMessages[formItems.Gender.validateType] }}
						</p>
					</td>
	      </tr>
	      <tr>
	        <th>サイトを知ったきっかけ</th>
	        <td>
						<input type="radio" value="友人・知人" v-model="formItems.Reason.value" /> 友人・知人　
	          <input type="radio" value="検索エンジン" v-model="formItems.Reason.value" /> 検索エンジン
						<p class="err-message" v-if="!formItems.Reason.isValid">
							{{ errorMessages[formItems.Reason.validateType] }}
						</p>
					</td>
	      </tr>
	      <tr>
	        <th>お問い合わせ内容<br /></th>
	        <td>
						<textarea name="お問い合わせ内容" cols="50" rows="5" v-model="formItems.Content.value" ></textarea>
						<p class="err-message" v-if="!formItems.Content.isValid">
							{{ errorMessages[formItems.Reason.validateType] }}
						</p>
					</td>
	      </tr>
				<tr>
	        <th>私はbotではありません<br /></th>
	        <td>
						<input type="checkbox" id="checkbox" v-model="formItems.IsNotBot.value">
						<p class="err-message" v-if="!formItems.IsNotBot.isValid">
							{{ errorMessages[formItems.IsNotBot.validateType] }}
						</p>
					</td>
	      </tr>
	    </table>
	    <p align="center">
	      <button type="button" value="確認" @click="validate">確認</button>
				<button type="button" value="リセット" @click="reset"/>リセット</button>
	    </p>
	  </form>
	</div>

	<!-- 内容確認のHTML  -->
	<div v-if=" state == 'confirmContents' ">
		<h3>確認画面</h3>
		<p align="center">以下の内容で間違いがなければ、「送信する」ボタンを押してください。</p>
		<table class="formTable">
			<tr>
				<th>ご用件</th>
				<td>{{ formItems.Genre.value }}</td>
			</tr>
			<tr>
				<th>お名前</th>
				<td>{{ formItems.Name.value }}</td>
			</tr>
			<tr>
				<th>電話番号（半角）</th>
				<td>{{ formItems.PhoneNumber.value }}</td>
			</tr>
			<tr>
				<th>Mail（半角）</th>
				<td>{{ formItems.Email.value }}</td>
			</tr>
			<tr>
				<th>性別</th>
				<td>{{ formItems.Gender.value }}</td>
			</tr>
			<tr>
				<th>サイトを知ったきっかけ</th>
				<td>{{ formItems.Reason.value }}</td>
			</tr>
			<tr>
				<th>お問い合わせ内容<br /></th>
				<td>
					<textarea name="お問い合わせ内容" cols="50" rows="5"
						v-model="formItems.Content.value" disabled
					></textarea>
				</td>
			</tr>
		</table>

		<p align="center">
			<button type="button" @click="sendMail">送信する</button>
			<button type="button" @click="stateIndex --">前画面に戻る
			</button>
		</p>

	</div>

</div>

<!-- Import dependency Libraries -->
<!-- Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- axios  -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="config.js"></script>
<script src="script.js"></script>

</body>
</html>
